.data-section {
  background-color: #00141e;
  border-radius: 10px;
  padding: 15px 20px;
  width: 540px;
}

.data-section__match-info {
  display: flex;
  align-items: center;
}

.data-section__flags {
  display: flex;
  flex-direction: column;
}
