.header {
  display: flex;
  background-color: var(--white);
  padding: 2rem 4rem;
  align-items: center;
  width: 96.2%;
  margin-left: auto;
  border-bottom: 1px solid #d3d3d3;
}

.header__logo {
  margin-right: 250px;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  text-decoration: none;
  color: #000;
}

.header__flex {
  display: flex;
  align-items: center;
}

.header__big-item {
  text-transform: uppercase;
  margin-left: 1rem;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__item {
  margin-left: auto;
}

.header__btn {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--white);
}

.header__btn span {
  color: var(--white);
  margin-left: 5px;
}

.active__link {
  border: none;
  border-bottom: 1px solid red;
}

.header__img {
  width: 30px;
}
