@import "react-calendar/dist/Calendar.css";

.calendar {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
}

.react-calendar__tile {
  color: #000;
  border-radius: 100%;
  padding: 8px;
}

.react-calendar__tile:focus {
  background-color: #7a84ff !important;
}

.react-calendar__tile:hover {
  background-color: #7a84ff !important;
}

.react-calendar__navigation__label:disabled {
  background-color: inherit !important;
  color: #000;
}

.react-calendar__navigation__arrow {
  color: #000;
  font-size: 16px;
}

.react-calendar__navigation__arrow:focus {
  background-color: inherit !important;
}

.react-calendar__navigation__arrow:hover {
  opacity: 0.5;
  background-color: #7a84ff !important;
}
