@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --main-header-color: #001e28;
  --main-background-color: #010a0f;
  --button-color: #0f2d37;
  --button-color-hover: #00141e;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--white);
}

.main {
  height: 100%;
}

.btn {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
  background-color: #374df5;
  color: #fff;
  padding: 5px 13px;
  border-radius: 100px;
}

.match-detail-container {
  background-color: var(--white);
  border-radius: 10px;
  margin: 1rem 0 1rem 72px;
  padding: 25px;
  display: flex;
}

.login-page {
  background-color: #8ac0ff;
}

.register-page {
  background-color: #fff0a0;
}

.flex {
  display: flex;
  justify-content: space-between;
}
