@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --main-header-color: #001e28;
  --main-background-color: #010a0f;
  --button-color: #0f2d37;
  --button-color-hover: #00141e;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.main {
  background-color: var(--main-background-color);
  height: 100vh;
}
